@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.eot');
  src: url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
      url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.eot');
  src: url('../fonts/Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins/Poppins-Bold.woff') format('woff'),
      url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.eot');
  src: url('../fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins/Poppins-Medium.woff') format('woff'),
      url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Black.eot');
  src: url('../fonts/Poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins/Poppins-Black.woff2') format('woff2'),
      url('../fonts/Poppins/Poppins-Black.woff') format('woff'),
      url('../fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

